# directory
tmp
__pycache__

# user data
BF_historical.py
calculate*.py
*.json
*.log
*.csv
*.log.*
*.png
*.html
src/datautility.py

# default config
!*_default.json
!*_default.csv

!.gitkeep
#!api_permission.png
